# used to name the ipa
APP_NAME=''
OLD_NAME=''

# project name, used for the deploy dir
PROJECT_NAME=''

# task name (gradle)
TASK_NAME=''

# main module name
MAIN_MODULE=''

# modules name (separated by ',')
MODULES='xx,xx'

# signing properties
KEYFILE='xxx'
STORE_PASSWORD='xx'
KEY_ALIAS='xx'
KEY_PASSWORD='xx'
