# used to name the ipa
APP_NAME=""

# release folder name
RELEASE_FOLDER_NAME=""

# project name, the same as the .xcodeproj file name
PROJECT_NAME=""

# configuration for archive(Debug/InHouse/Release)
CONFIGURATION=""

# scheme name(xcworkspace)
# or
# target name(xcproject)
SCHEME_NAME=""
#TARGET_NAME=""

# identity name
IDENTITY=""

# provisioning profile name
UUID=""

# login password, to unlock login keychain
LOGIN_PASSWORD=""
