rule-paths:
  - /usr/local/lib/oclint/rules
rules:
  - LongMethod
  - DeepNestedBlock
  - TooManyParameters
  - CyclomaticComplexity
rule-configurations:
  - key: LONG_METHOD
    value: 50
  - key: NESTED_BLOCK_DEPTH
    value: 3
  - key: TOO_MANY_PARAMETERS
    value: 5
  - key: CYCLOMATIC_COMPLEXITY
    value: 10
output: oclint.xml
report-type: pmd
max-priority-1: 9999
max-priority-2: 9999
max-priority-3: 9999
enable-clang-static-analyzer: false