rule-paths:
  - /usr/local/lib/oclint/rules
disable-rules:
  - LongClass
  - LongLine
  - LongMethod
  - LongVariableName
  - ShortVariableName
  - HighNcssMethod
  - DeepNestedBlock
  - TooManyFields
  - TooManyMethods
  - TooManyParameters
  - ReplaceWithObjectSubscripting
  - IvarAssignmentOutsideAccessorsOrInit
output: oclint.xml
report-type: pmd
max-priority-1: 9999
max-priority-2: 9999
max-priority-3: 9999
enable-clang-static-analyzer: false